webservice/src/main/java/org/thibaut/thelibrary/webservice/generated/jaxb2/books.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            xmlns:tns="http://spring.io/guides/gs-producing-web-service"
            targetNamespace="http://spring.io/guides/gs-producing-web-service" 
            elementFormDefault="qualified">

    <xs:element name="getBookRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="authorName" type="xs:string"/>
                <xs:element name="category" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:book" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="book">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="language" type="xs:string"/>
            <xs:element name="authors" type="tns:author" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="category" type="tns:category" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="author">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="nationality" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="category">
		<xs:sequence>
			<xs:element name="id" type="xs:int"/>
			<xs:element name="style" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>